<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
  <div class="thumbnail admin-article-thumbnail <%= 'invisible_thumbnail' if !article.published %>">
    <%= link_to edit_admin_blog_article_path(article) do %>
      <%= display_photo_image_tag(article) %>
    <% end %>
    <div class="caption">
      <h4><%= link_to article.title.truncate(50, :separator => " ",omission: '...'), edit_admin_blog_article_path(article) %><br/ >
        <small><%= article.subtitle.truncate(70, :separator => " ",omission: '...') %></small>
      </h4>
      <p> 
        <%= strip_tags article.content.truncate(150, :separator => " ",omission: '...') %>
      </p>
      <p>
        <button type="button" class="btn <%= article.published? ? "btn-primary" : "btn-default" %> btn-sm" id="article-status" data-edit=<%= admin_blog_article_publish_switch_path(article) %> data-visible=<%= article.published? %>><%= article.published? ? "Published" : "Unpublished" %></button>
      <p>
      <div>
        <%= link_to "Delete", admin_blog_article_path(article), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "Are you sure?" } %>
        <%= link_to "Edit", edit_admin_blog_article_path(article), class: "btn btn-info btn-sm" %>
        <%= link_to "View in Blog", blog_path(article), class: "pull-right" if article.published %>
      </div>
      <small>
    </div>
  </div>
</div>