<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#snaThumbnails" aria-expanded="true" href="#editSnaForm-<%= account.slug %>">
    <div class="media-left">
      <%= link_to url_with_protocol(account.platform_url), :target => "_blank" do %>
        <%= image_tag(image_url(account),  size: "32x32") %>
      <% end %>
    </div>
    <div class="media-body">
      <h3 class="panel-title"><%= account.platform_name %><small> <span class="label <%= visibility_label(account) %>"><%= visibility_status(account) %></span><span class="pull-right"><%= account.last_update %></span></small></h3>

      <%= link_to url_with_protocol(account.platform_url), account.platform_url, :target => "_blank" %>
      <small class="pull-right">
        <%# collapse trigger%>
        <%= link_to admin_social_network_account_path(account), method: :delete, data: { confirm: "Are you sure?" } do %>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        <% end %>
      </small>
    </div>
  </div>   
  <div class="panel-body collapse" id="editSnaForm-<%= account.slug %>">
    <%= render "form", object: account %>
  </div>
</div>
<!-- Modal -->
<%= render 'admin/shared/image_uploader_modal', object: account, img_url: image_url(account), image_update_url: admin_social_network_account_update_image_path(account), return_path: admin_social_network_accounts_path, preview_id: "sna_form_img_preview" if image_exist?(account) %>
