<%= render "shared/error", object: @sna %>

<div class="col-sm-2">
  <div class="row">
    <% image = @sna.image.thumb.url
       image.nil? ? img_url = "http://thedudeminds.de/images/no_image_available.png" : img_url = image %>
    <%= image_tag img_url, class: "img-responsive thumbnail", alt: "Responsive image" %> 
  </div>
</div>

<div class="col-sm-8">
  <%= form_for [:admin, @sna] do |s| %>
    <div class="form-group">
      <%= s.label "Name*" %>
      <%= s.text_field :platform_name, class: "form-control", placeholder: "Give this a link name" %>
    </div>

    <div class="form-group">
      <%= s.label "Url*" %>
      <%= s.text_field :platform_url, class: "form-control", placeholder: "Link Url" %>
    </div>
    
    <div class="form-group">
      <%= s.label "Upload an Image" %>
      <%= s.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
    </div>
    <div class="form-group">
      <%= s.label "Visible?" %><br>
      <%= s.radio_button :visible, false %> No <br>
      <%= s.radio_button :visible, true %> Yes
    </div>
    <%= link_to "Cancel", admin_social_network_accounts_path, class: "btn btn-warning" if @sna.id.present? %>
    <%= s.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
