<div class="page-header">
  <h1>Social Media Accounts</h1>
</div>

<p class="pull-right">
  <%= link_to new_admin_category_path do %>
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add a social media account
  <% end %>
</p>

<table class="table table-hover">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Image</th>
    <th>URL</th>
    <th>Visible</th>
    <th>Created at</th>
    <th>Last updated</th>
    <th></th>
  </tr>
 
  <% sum = @social_network_accounts.length 
     i = 0
  %> 
  <% @social_network_accounts.each do |p| %>
    <% if i < sum %>
    <tr>
      <td><%= i += 1 %>. </td>
      <td><%= p.platform_name %></td>
      <td><%= image_tag p.img_url,  size: "32x32" %></td>
      <td><%= p.platform_url %></td>
      <td>
        <% if p.visible %>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <% else %>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <% end %>
      </td>
      <td><%= p.created_at.to_formatted_s(:long) %></td>
      <td><%= p.updated_at.to_formatted_s(:long) %></td>
      <td>
        <%= link_to edit_admin_category_path(p) do %>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        <% end %>
        <%= link_to admin_category_path(p), method: :delete, data: { confirm: "Are you sure?" } do %>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        <% end %>
      </td>
    </tr>
    <% end %>
  <% end %>
</table>
