<div class="container-fluid">
  <h3>Site Actions</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="admin-manage-box">
        <h4>Manage Products</h4>
        <hr>
        <ul>
          <li><%= link_to "All Products", admin_categories_path %></li>
          <li><%= link_to "Add Product", new_admin_category_path %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="admin-manage-box">
        <h4>Manage Showcases</h4>
        <hr>
        <ul>
          <li><%= link_to "All Showcases", admin_showcases_path %></li>
          <li><%= link_to "Add Showcase", new_admin_showcase_path %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="admin-manage-box">
        <h4>Manage Categories</h4>
        <hr>
        <ul>
          <li><%= link_to "All Categories", admin_categories_path %></li>
          <li><%= link_to "Add Category", new_admin_category_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="admin-manage-box">
        <h4>Manage Quotes</h4>
        <hr>
        <ul>
          <li>Quotes</li>
          <li>Add Quote</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="admin-manage-box">
        <h4>Marketing</h4>
        <hr>
        <ul>
          <li>All Subscribers</li>
          <li>Sent Newsletters</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="admin-manage-box">
        <h4>Profile</h4>
        <hr>
        <ul>
          <li>Change Password</li>
          <li>Change Username</li>
        </ul>
      </div>
    </div>
  </div>
</div>