<%= fields_for 'site_configs[]', config do |f| %>
  <div class="form-group">
    <%= hidden_field_tag config.slug %>
    <%= f.label :key, config.key.titleize, class: "control-label" %>
    <%= f.text_area :value, class: "form-control", placeholder: config.value, maxlength: config.maxlength %>
    <p class="help-block"><%= config.note %></p>
  </div>
<% end %>