<div class="panel-group" id="accordion">
  <% @site_intros.each do |s| %>

    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" aria-expanded="true" href="#site_intros-<%= s.id %>">
        <h4 class="panel-title"><%= s.key %></h4>
      </div>

      <div class="panel-collapse collapse" id="site_intros-<%= s.id %>">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <%= sanitize s.value.nil? ? "No Content" : s.value %>
              <hr>
              <%= link_to 'Edit', edit_admin_site_config_path(s), class: 'btn btn-default' %><small class="help-block"><em><%= "Last updated: #{s.last_update}" %></em></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
