= render "shared/error", object: @article
= form_for [:admin, :blog, @article] do |f|
  .row
    .col-xs.12.col-sm-9
      .page-header
        .form-group
          = f.text_field :title, class: "form-control input-lg", placeholder: "Enter title"
        .form-group
          = f.text_field :subtitle, class: "form-control", placeholder: "Enter subtitle"
        .form-group
          = f.text_area :content, class: 'tinymce form-control', rows: 20, cols: 120, placeholder: "Write your article here..."
    
    = render 'info_box', object: @article, f: f

= tinymce :alternate

= tinymce_assets
