<%= render "shared/error", object: @article %>
<%= form_for [:admin, :blog, @article] do |f| %>
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <div class="page-header">
        <div class="form-group">
          <%= f.text_field :title, class: "form-control input-lg", placeholder: "Enter title"%>
        </div>
        <div class="form-group">
          <%= f.text_field :subtitle, class: "form-control", placeholder: "Enter subtitle"%>
        </div>
      </div>
      <%= f.text_area :content, class: 'tinymce', rows: 20, cols: 120 %>
    </div>
    <div class="col-xs-12 col-sm-3 article_info_box">
      <div class="panel panel-default">
        <div class="panel-heading">Information</div>
        <div class="panel-body">
          <table>
            <tr>
              <th class="col-xs-5 text-right">Status</td>
              <td class="col-xs-7">
                <%= @article.published? ? "Published" : "Unpublished" %><br />
              </td>
            </tr>
            <% if @article.published? %>
              <tr>
                <th class="col-xs-5 text-right">Published</td>
                <td class="col-xs-7">
                  <%= @article.published_at.to_formatted_s(:long) %>
                </td>
              </tr>
            <% end %>
            <tr>
              <th class="col-xs-5 text-right">Created</td>
              <td class="col-xs-7"><%= @article.created_at.nil? ? 'Not Saved Yet' : @article.created_at.to_formatted_s(:long) %></td>
            </tr>
            <tr>
              <th class="col-xs-5 text-right">Updated</td>
              <td class="col-xs-7"><%= @article.updated_at.nil? ? 'Not Saved Yet' : @article.updated_at.to_formatted_s(:long) %></td>
            </tr>
          </table>
          <hr>
          <%= link_to "Cancel", admin_blog_articles_path, class: "btn btn-warning" %>
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  
<% end %>
  
<%= tinymce :alternate %>

<%= tinymce_assets %>

