<div class="col-xs-12 col-sm-3 article_info_box">
  <div class="panel panel-default">
    <div class="panel-heading">Information</div>
    <div class="panel-body">
      <table>
        <tr>
          <th class="col-xs-5 text-right">Status</td>
          <td class="col-xs-7">
            <%= object.published? ? "Published" : "Unpublished" %><br />
          </td>
        </tr>
        <% if object.published? %>
          <tr>
            <th class="col-xs-5 text-right">Published</td>
            <td class="col-xs-7">
              <%= object.published_at.to_formatted_s(:long) %>
            </td>
          </tr>
        <% end %>
        <tr>
          <th class="col-xs-5 text-right">Created</td>
          <td class="col-xs-7"><%= object.created_at.nil? ? 'Not Saved Yet' : object.created_at.to_formatted_s(:long) %></td>
        </tr>
        <tr>
          <th class="col-xs-5 text-right">Updated</td>
          <td class="col-xs-7"><%= object.updated_at.nil? ? 'Not Saved Yet' : object.updated_at.to_formatted_s(:long) %></td>
        </tr>
      </table>
      <hr>
      <% unless @thumb_img_url.present? %>
        <div class="form-group">
          <%= f.label "Upload Image", class: "control-label" %><br />
          <%= f.fields_for :photo do |c| %>
            <%= c.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
          <% end %>
        </div>
      <% end %>
      <%= link_to "Cancel", admin_blog_articles_path, class: "btn btn-warning" %>
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
  </div>
</div>
