<ul class="adminSideMenu" id="adminSideMenu">
  <li class="panel">
    <a data-toggle="collapse" data-parent="#adminSideMenu" aria-expanded="true" href="#sideMenu-1">Products</a>
    <ul id="sideMenu-1" class="collapse <%= collapse_class(admin_products_path) %>">
      <li><%= link_to "All Products", admin_products_path %></li>
      <li><%= link_to "Add Product", new_admin_product_path %></li>
    </ul>
  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#adminSideMenu" aria-expanded="false" href="#sideMenu-2">Showcases</a>
    <ul id="sideMenu-2" class="collapse <%= collapse_class(admin_showcases_path) %>">
      <li><%= link_to "All Showcases", admin_showcases_path %></li>
    </ul>
  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#adminSideMenu" aria-expanded="false" href="#sideMenu-3">Categories</a>
    <ul id="sideMenu-3" class="collapse <%= collapse_class(admin_categories_path) %>">
      <li><%= link_to "All Categories", admin_categories_path %></li>
    </ul>
  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#adminSideMenu" aria-expanded="false" href="#sideMenu-4">Images</a>
    <ul id="sideMenu-4" class="collapse">
      <li><%= link_to "Quotes", admin_quotes_path %></li>
      <li><%= link_to "Carousels", admin_carousels_path %></li>
    </ul>
  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#adminSideMenu" aria-expanded="false" href="#sideMenu-5">Marketing</a>
    <ul id="sideMenu-5" class="collapse">
      <% @subscriber_num.nil? ? subscriber_num = 0 : subscriber_num = @subscriber_num %>
      <li><%= link_to "Subscribers: #{subscriber_num}", root_path %></li>
      <li><%= link_to "Newsletter", root_path %></li>
    </ul>
  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#adminSideMenu" aria-expanded="false" href="#sideMenu-6">Settings</a>
    <ul id="sideMenu-6" class="collapse <%= collapse_class(admin_social_network_accounts_path) %>">
      <li><%= link_to "Links", admin_social_network_accounts_path %></li>
      <li><%= link_to "Profile", root_path %></li>
    </ul>
  </li>
</ul>
