<div class="row showcase-header">
  <div class="col-xs-12 col-sm-4">
    <p>
      <%= link_to showcase_path(showcase) do %>
      <strong class="title"><%= showcase.title %></strong><br/ >
      <small><em><%= showcase.subtitle %></em></small>
      <% end %>
    </p>
  </div>
  <div class="col-xs-12 col-sm-5 hidden-xs pull-right more-button">
    <p><%= link_to "View All #{showcase.published_products.size} Products", showcase_path(showcase) %></p>
  </div>
</div>

<div class="row showcase-body">
  <div class="carousel slide" id=<%= "#{showcase.title.gsub(/\s+/, '')}" + "Carousel" %>>
    <div class="carousel-inner">
      <%= sanitize display_showcase_carousels(showcase) %>
    </div>
  
    <!-- Carousel Control Arrows -->
    <a class="left carousel-control" data-slide="prev" href="#<%= "#{showcase.title.gsub(/\s+/, '')}" + "Carousel" %>">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
      
    <a class="right carousel-control" data-slide="next" href="#<%= "#{showcase.title.gsub(/\s+/, '')}" + "Carousel" %>">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div><!-- End of Slide -->
</div>
