<% @showcases.each do |showcase| %>
  <div class="row showcase-header">
    <div class="col-sm-4">
      <p><b><%= link_to showcase.title, showcase_path(showcase) %></b></p>
    </div>
    <div class="col-sm-6">
    </div>
    <div class="col-sm-1 hidden-xs pull-right">
      <p><small><%= link_to "More", showcase_path(showcase) %></small></p>
    </div>
  </div>
  
  <div class="row showcase-body">
    <%#
    <div class="col-xs-12 col-md-3 showcase-feature">
      <a href="#" class="thumbnail">
        <%#= image_tag showcase.feature_img_url, class: "img-responsive", alt: "Responsive image" %>
    <%#
      </a>
    </div>
    %>
    <%# showcase_products = showcase.products[0..5] %>

    <% showcase.products.each do |p| %>
      <div class="col-xs-12 col-md-3 showcase-img">
        <%= link_to product_path(p), class:"thumbnail" do %>
          <%= image_tag p.image_url, class: "img-responsive", alt: "Responsive image" %>
        <% end %>
          <p class="text-center"><%= p.title %></p>
      </div>
    <% end %>
  </div>
<% end %>
