<% @showcases.each do |showcase| %>
  <div class="row showcase-header">
    <div class="col-xs-12 col-sm-4">
      <p><b><%= link_to showcase.title, showcase_path(showcase) %></b></p>
    </div>
    <div class="col-sm-6  hidden-xs">
    </div>
    <div class="col-xs-12 col-sm-1 hidden-xs pull-right">
      <p><small><%= link_to "More", showcase_path(showcase) %></small></p>
    </div>
  </div>
  
  <div class="row showcase-body">
    <% showcase_products = showcase.products[0..7] %>

    <% showcase_products.each do |p| %>
      <div class="col-xs-12 col-sm-3 product">
        <%= link_to product_path(p), class:"thumbnail" do %>
          <%= image_tag p.image_url, class: "img-responsive" %>
        <% end %>
          <p class="text-center"><%= p.title %></p>
      </div>
    <% end %>
  </div>
<% end %>
