<%= render "shared/error", object: @carousel %>

<div class="col-xs-12 col-sm-2">
  <div class="row">
    <% @thumb_img_url.present? ? thumb_img_url = @thumb_img_url : thumb_img_url = "http://thedudeminds.de/images/no_image_available.png" %>
    <% if @thumb_img_url.present? %>
      <%= image_tag thumb_img_url, class: "img-responsive thumbnail", id: "carousel-form-img-preview", data: {toggle: "modal", target: "#imageUploaderModal"} %>
      <p class="help-block text-center">Click image to edit</p>
    <% else %>
      <%= image_tag thumb_img_url, class: "img-responsive thumbnail", id: "carousel-form-img-preview" %>
    <% end %>
  </div>
</div>

<div class="col-xs-12 col-sm-9 col-sm-offset-1">
  <%= form_for [:admin, @carousel], html: {class: "form-horizontal"} do |s| %>
    <div class="form-group">
      <%= s.label "Title", class: "control-label" %>
      <div class="row">
        <div class="col-xs-8">
          <%= s.text_field :title, class: "form-control", placeholder: "Enter title" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= s.label "Description" %>
      <div class="row">
        <div class="col-xs-8">
          <%= s.text_area :description, class: "form-control", placeholder: "Describe the carousel", rows: 2 %>
        </div>
      </div>
    </div>
    <% unless @thumb_img_url.present? %>
      <div class="form-group">
        <%= s.label "Upload Image", class: "control-label" %><br />
        <%= s.fields_for :photo do |c| %>
          <%= c.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
        <% end %>
      </div>
    <% end %>

    <%= link_to "Cancel", :back, class: "btn btn-warning" if @carousel.id.present? %>
    <%= s.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>

<!-- Modal -->
<%= render 'admin/shared/image_uploader_modal', object: @carousel, img_url: @thumb_img_url, image_update_url: admin_carousel_update_image_path(@carousel), return_path: edit_admin_carousel_path(@carousel), preview_id: "cat-form-img-preview" if @thumb_img_url.present? %>
