<%= render "shared/error", object: @showcase %>
<% unless  @showcase.id.nil? %>
  <div class="row">
    <p class="text-left">
      <small class="help-block"><%= @showcase.updated_at.to_formatted_s(:db) %> (last updated)</small>
      <% @showcase.visible? ? ((status = "Visible") && (label = "label-success")) : ((status = "Invisible") && (label = "label-default")) %>
      <span class="label <%= label %>"><%= status %></span>
      <%= link_to showcase_path(@showcase), target: "_blank" do %>
        <span class="pull-right">Go to Shop <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> </span>
      <% end %>
    </p>
  </div>
<% end %>
<div class="col-sm-2">
  <div class="row">
    <% image = @showcase.image.url
       image.nil? ? img_url = "http://thedudeminds.de/images/no_image_available.png" : img_url = image %>
    <%= image_tag img_url, class: "img-responsive thumbnail", id: "showcase_form_img_preview" %> 
  </div>
</div>

<div class="col-sm-10">
  <%= form_for [:admin, @showcase] do |s| %>
    <div class="form-group">
      <%= s.label "Title" %>
      <div class="row">
        <div class="col-xs-8">
          <%= s.text_field :title, class: "form-control", placeholder: "Enter title" %>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <%= s.label "Upload a Feature Image" %>
      <%= s.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
    </div>
    <div class="form-group">
      <%= s.label "Display on the landing_page?" %><br>
      <%= s.radio_button :show_on_landing_page, false %> No <br>
      <%= s.radio_button :show_on_landing_page, true %> Yes
    </div>
    <%= link_to "Cancel", admin_showcases_path, class: "btn btn-warning" if @showcase.id.present? %>
    <%= s.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>

<% if !@showcase.id.nil? %>
  <small class="text-right help-block"><em><%= @showcase.created_at.to_formatted_s(:db) %> (created)</em></small>
<% end %>
