<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
  <div class="thumbnail admin-showcase-thumbnail <%= invisible_thumb?(showcase) %>">
    <%= link_to admin_showcase_path(showcase) do %>
      <%= display_photo_image_tag(showcase) %>
    <% end %>
    <div class="caption">
      <%= display_on_landing_page?(showcase) %>
      <h4><%= link_to showcase.title, admin_showcase_path(showcase) %>
      </h4>
      <p><%= showcase.subtitle %></p>
      <p> 
        <button type="button" class="btn <%= visibility_status_btn(showcase) %> btn-sm" id="showcase-status" data-edit=<%= admin_showcase_visible_switch_path(showcase) %> data-visible=<%= showcase.visible? %>><%= visibility_status(showcase) %></button>
        <%= link_to "Delete", admin_showcase_path(showcase), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "Are you sure?" } %>
        <%= link_to "Shop", showcase_path(showcase), class: "pull-right" %>
      </p>
      <small>
      <%= update_time(showcase) %> <em>(last updated)</em></small>
      <span class="badge pull-right"><%= showcase.products.size %></span>
    </div>
  </div>
</div>
