<div class="page-header">
  <h1>Showcase</h1>
</div>

<div class="row">
  <%= render "form" %>
</div>

<div class="row table-responsive showcase-list">
  <table class="table table-hover">
    <tr>
      <th></th>
      <th>Title</th>
      <th>Feature Image</th>
      <th>Display on<br>Landing Page</th>
      <th>Created at/<br>Last updated at</th>
      <th>Products<br>amount</th>
      <th>View</th>
      <th></th>
    </tr>
   
    <% sum = @showcases.length 
       i = 0
    %> 
    <% @showcases.order("updated_at DESC").each do |p| %>
      <% if i < sum %>
        <tr>
          <td><%= i+1 %>. </td>
          <td><%= p.title %></td>
          <td><%= truncate(p.feature_img_url) %></td>
          <td>
            <%= p.show_on_landing_page ? "Yes" : "No" %>
          </td>
          <td><%= p.created_at.to_formatted_s(:db) %><br>
              <%= p.updated_at.to_formatted_s(:db) %></td>
          <td>
            <%= link_to p.products.size, admin_showcase_products_path(p) %>
          </td>
          <td>
            <%= link_to showcase_path(p) do %>
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            <% end %>
          </td>
          <td>
            <%= link_to edit_admin_showcase_path(p) do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            <% end %>
            <%= link_to admin_showcase_path(p), method: :delete, data: { confirm: "Are you sure?" } do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <% end %>
          </td>
          <% i += 1%>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
