<div class="page-header">
  <h1>Showcase <span class="badge"><%= @showcases_amount %></span></h1>
</div>

<p>
  <a data-toggle="collapse" href="#collapseShowcaseForm">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
     Add Showcase
  </a>
</p>
<div class="container">
  <div class="row">
    <div class="collapse" id="collapseShowcaseForm">
      <div class="col-xs-12 col-sm-12 well">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/pagination', objects: @showcases %>
<div class="row grid">
  <%= render partial: "showcase_thumbnail", collection: @showcases, as: :showcase %>
</div>

<%# Pagination %>
<%= render 'shared/pagination', objects: @showcases %>
