<div class="page-header">
  <h1>Showcase <span class="badge"><%= @showcases.length %></span></h1>
</div>

<p>
  <a data-toggle="collapse" href="#collapseAddShowcaseForm" aria-expanded="false">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
     Add Showcase
  </a>
</p>
<%= render "shared/error", object: @showcase %>
<div class="collapse" id="collapseAddShowcaseForm">
  <div class="row">
    <div class="col-xs-12 col-sm-12 well">
      <%= render "form" %>
    </div>
  </div>
</div>

<div class="row">
  <% @showcases.order("updated_at DESC").each do |p| %>
    <div class="col-sm-4 col-md-3">
      <div class="thumbnail admin-showcase-thumbnail <%= 'invisible_thumbnail' if !p.visible %>">
        <% image = p.image.url
           image.nil? ? img_url = "http://thedudeminds.de/images/no_image_available.png" : img_url = image %>
        <%= link_to admin_showcase_products_path(p) do %>
          <%= image_tag img_url %>
        <% end %>
        <div class="caption">
          <small><span class="label label-success pull-right"><%= p.show_on_landing_page ? "Landing Page" : "" %></span></small>
          <h4><%= p.title %>
          </h4>
          <p> 
            <button type="button" class="btn <%= p.visible? ? "btn-primary" : "btn-default" %> btn-sm" id="showcase-status" data-edit=<%= admin_showcase_visible_switch_path(p) %> data-visible=<%= p.visible? %>><%= p.visible? ? "Visible" : "Hidden" %></button>
            <%= link_to "Delete", admin_showcase_path(p), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "Are you sure?" } %>
            <%= link_to "Shop", showcase_path(p), class: "pull-right" %>
          </p>
          <small>
          <% p.updated_at.nil? ? update_time = p.created_at.to_formatted_s(:db) : update_time = p.updated_at.to_formatted_s(:db) %>
          <%= update_time %> <em>(last updated)</em></small>
          <span class="badge pull-right"><%= p.products.size %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%# Pagination %>
<%= render 'shared/pagination', objects: @showcases %>
