<% sum = @showcases.length 
   i = 1
%>


<table class="table table-hover">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Feature Image</th>
    <th>Created at</th>
    <th>Last updated</th>
  </tr>
  
  <% @showcases.each do |p| %>
    <% if i < sum %>
    <tr>
      <td><%= i %>. </td>
      <td><%= p.title %></td>
      <td><%= p.feature_img %></td>
      <td><%= p.created_at.to_formatted_s(:long) %></td>
      <td><%= p.updated_at.to_formatted_s(:long) %></td>
      <% i += 1%>
    </tr>
    <% end %>
  <% end %>
</table>
