<div class="page-header">
  <h1><%= @showcase.title %> 
    <span class="badge"><%= @showcase.products.size %></span>
      <small>
      <a data-toggle="collapse" href="#collapseShowcaseForm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </a>
    </small>
  </h1>
  <% @showcase.visible? ? ((status = "Visible") && (label = "label-success")) : ((status = "Invisible") && (label = "label-default")) %>
    <span class="label <%= label %>"><%= status %></span>
  <%= link_to showcase_path(@showcase), target: "_blank" do %>
    <span class="pull-right">Go to Shop <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></span>
  <% end %>
</div>

<ol class="breadcrumb">
  <li><%= link_to "Admin", admin_index_path %></li>
  <li><%= link_to "Showcases", admin_showcases_path %></li>
  <li class="active"><%= @showcase.title %></li>
</ol>

<%= render "shared/error", object: @showcase %>
<div class="collapse" id="collapseShowcaseForm">
  <div class="col-xs-12 col-sm-12 well">
    <%= render "form" %>
  </div>
</div>


<%= render "admin/products/product_list", products: @products %>
  <%# Don't change @products to @showcase.products. 
      Otherwise, pagination won't work %>

<% if @showcase.id.present? %>
  <hr>
  <%= render "admin/shared/seo_box", object: @showcase %>
<% end %>
