<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
  <div class="thumbnail admin-category-thumbnail <%= invisible_thumb?(category) %>">

    <%= link_to_display_article_image_tag category, admin_category_path(category) %>
    <div class="caption">
      <h4>
        <%= link_to category.name, admin_category_path(category)%>
      </h4>
      <p> 
        <button type="button" class="btn <%= visibility_status_btn(category) %> btn-sm" id="cat-status" data-edit=<%= admin_category_visible_switch_path(category) %> data-visible=<%= category.visible? %>><%= visibility_status(category) %></button>
        <%= link_to "Delete", admin_category_path(category), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "Are you sure?" } %>
        <%= link_to "Shop", category_path(category), class: "pull-right" %>
      </p>
      <small>
      <%= update_time(category) %> <em>(last updated)</em></small>
      <span class="badge pull-right"><%= category.products.size %></span>
    </div>
  </div>
</div>
