<%= render "shared/error", object: @category %>

<%= form_for [:admin, @category], html: {class: "form-inline"} do |p| %>
  <div class="form-group">
    <%= p.label "Name" %>
    <%= p.text_field :name, class: "form-control", placeholder: "Enter Name" %>
    <%= link_to "Cancel", admin_categories_path, class: "btn btn-warning" if @category.id.present? %>
    <%= p.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
