<%= render "shared/error", object: @category %>

<%= form_for [:admin, @category] do |p| %>
  <p>
  <%= p.label "Name" %><br>
  <%= p.text_field :name, class: "form-control", placeholder: "Enter Name" %></p>

  <%= link_to "Cancel", admin_products_path, class: "btn btn-danger" %>
  <%= p.submit "Submit", class: "btn btn-primary" %>
<% end %>
