<%= render "shared/error", object: @category %>
<% unless  @category.id.nil? %>
  <div class="row">
    <p class="text-left">
      <small class="help-block"><%= @category.updated_at.to_formatted_s(:db) %> (last updated)</small>
      <% @category.visible? ? ((status = "Visible") && (label = "label-success")) : ((status = "Invisible") && (label = "label-default")) %>
      <span class="label <%= label %>"><%= status %></span>
      <%= link_to category_path(@category), target: "_blank" do %>
        <span class="pull-right">Go to Shop <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> </span>
      <% end %>
    </p>
  </div>
<% end %>
<div class="col-sm-2">
  <div class="row">
    <% image = @category.image.thumb.url
       image.nil? ? img_url = "http://thedudeminds.de/images/no_image_available.png" : img_url = image %>
    <%= image_tag img_url, class: "img-responsive thumbnail", id: "cat_form_img_preview" %> 
  </div>
</div>

<div class="col-sm-10">
  <%= form_for [:admin, @category], html: {class: "form-horizontal"} do |p| %>
    <div class="form-group">
      <%= p.label "Name", class: "control-label" %>
      <div class="row">
        <div class="col-xs-8">
          <%= p.text_field :name, class: "form-control", placeholder: "Enter Name" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= p.label "visible", class: "control-label" %><br />
      <%= p.radio_button :visible, false %> No
      <%= p.radio_button :visible, true %> Yes
    </div>
    <div class="form-group">
      <%= p.label "Drop an image here" %>
      <%= p.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
    </div>
    <div class="form-group">
      <%= link_to "Cancel", admin_categories_path, class: "btn btn-warning" if @category.id.present? %>
      <%= p.submit "Save", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<% if !@category.id.nil? %>
  <small class="text-right help-block"><em><%= @category.created_at.to_formatted_s(:db) %> (created)</em></small>
<% end %>
