<div class="page-header">
  <h1>Categories (<%= @categories.size %>)</h1>
</div>

<div class="row">
  <%= render "form" %>
</div>

<div class="row table-responsive category-list ">
  <table class="table table-hover">
    <tr>
      <th></th>
      <th class="col-sm-4">Name</th>
      <th class="col-sm-2 text-center">Products<br>Amount</th>
      <th class="col-sm-1">Status</th>
      <th class="col-sm-1">Frontend</th>
      <th class="col-sm-2">Created at/<br>Last updated at</th>
      <th class="col-sm-1 text-center">Delete</th>
    </tr>
   
    <% sum = @categories.length 
       i   = 0
    %> 
    <% @categories.order("updated_at DESC").each do |p| %>
      <% if i < sum %>
        <tr>
          <td><%= i+1 %>. </td>
          <td data-toggle="modal" data-target="#editCatName" data-edit=<%= admin_category_path(p) %> id="cat-name"><%= p.name %></td>
          <td class="text-center">
            <%= link_to p.products.size, admin_category_products_path(p) %>
          </td>
          <td>
          <button type="button" class="btn <%= p.visible? ? "btn-primary" : "btn-default" %> btn-xs" id="cat-status" data-edit=<%= admin_category_path(p) %> data-visible=<%= p.visible? %>><%= p.visible? ? "visible" : "hidden" %></button>
          </td>
          <td class="text-center">
            <%= link_to category_path(p) do %>
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            <% end %>
          </td>
          <td><%= p.created_at.to_formatted_s(:db) %><br>
              <%= p.updated_at.to_formatted_s(:db) %></td>
          <td class="text-center">
            <%= link_to admin_category_path(p), method: :delete, data: { confirm: "Are you sure?" } do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <% end %>
          </td>
          <% i += 1%>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="editCatName" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editCatNameLabel">Change Category Name</h4>
      </div>
      <div class="modal-body">
        <input type="text" id="editCatNamebody" placeholder="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="editCatNameConfirm">Save</button>
      </div>
    </div>
  </div>
</div>
