<div class="page-header">
  <h1>Categories <span class="badge"><%= @categories_amount %></span></h1>
</div>

<p>
  <a data-toggle="collapse" href="#collapseCatForm" aria-expanded="false">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
     Add Category
  </a>
</p>

<div class="container">
  <div class="row">
    <div class="collapse" id="collapseCatForm">
      <div class="col-xs-12 col-sm-12 well">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/pagination', objects: @categories %>
<div class="row grid">
  <%= render partial: "category_thumbnail", collection: @categories, as: :category %>
</div>

<%# Pagination %>
<%= render 'shared/pagination', objects: @categories %>
