<%= link_to blog_path(article) do %>
  <div class="col-xs-12 col-sm-4 blog-article-thumbnail">
    <div class="blog-article-thumbnail-title">
      <h3>
        <%= truncate(article.title, length: 55, omission: '...') %><br><small> <%= truncate article.subtitle, length: 55, omission: '...' %></small>
      </h3>
    </div>
    <%= link_to blog_path(article), class:"thumbnail" do %>
      <%= image_tag article.thumb_img_url(:icon => true), class: "img-responsive", alt: article.title %>
    <% end %>

    <div class="caption">
      <p><%= strip_tags article.content.truncate(347, :separator => " ",omission: '...') %></p>
    </div>
  </div>
<% end %>
