<div class="container article-frame">
  <%= link_to blog_index_path do %>
    <p><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back to Blog</p>
  <% end %>
  <div class="row article-heading">
    <h1 class="title"><%= @article.title %></h1>
    <h3><%= @article.subtitle %></h3>
    <p class="time"><%= @article.published_at.to_formatted_s(:long).upcase %></p>
  </div>

  <div class="row article-content-frame">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      <div class="row article">
        <figure>
          <%= image_tag @article.img_url, alt: @article.title %>
        </figure>
        <div class="content">
          <%= sanitize @article.content %>
        </div> 
      </div>
      <div class=" row pre-next-arror">
        <% if previous_article?(@article) %>
          <p class="pull-left">
            <%= link_to blog_path(@article.previous_article) do %>
              <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
              <%= previous_article_title(@article) %>
            <% end %>
          </p>
        <% end %>
        <% if next_article?(@article) %>
          <p class="pull-right">
            <%= link_to blog_path(@article.next_article) do %>
              <%= next_article_title(@article) %>
              <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
