<div class="row product-details">
  <div class="col-xs-12 col-sm-4 col-sm-offset-2">
    <%= link_to url_with_protocol(@product.url) do %>
      <%= image_tag @product.image_url, class: "img-responsive", size: '550', alt: @product.title %>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <dl class="dl-horizontal">
      <h3><%= @product.title %></h3>
      <dt>Description</dt>
      <dd><%= @product.description %></dd>
      <dt>Category</dt>
      <dd>
        <% @product.categories.each do |s| %>
          <%= link_to s.name, category_path(s) if s.visible? %> | 
        <% end %>
      </dd>
      <dt>Price</dt>
      <dd><%= @price %> <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></dd> 
    </dl>
    <p class="text-center"><%= link_to "Buy", url_with_protocol(@product.url), class: "btn-buy", target: "_blank" %></p>
  </div>
</div>
