<%= render "shared/error", object: @quote %>


<div class="col-sm-2">
  <% @quote_img_url.nil? ? img_url = "http://thedudeminds.de/images/no_image_available.png" : img_url = @quote_img_url %>
  <%= image_tag img_url, class: "img-responsive thumbnail", id: "cat_form_img_preview" %>
</div>

<div class="col-sm-9 col-sm-offset-1">
  <%= form_for [:admin, @quote], html: {class: "form-horizontal"} do |s| %>
    <div class="form-group">
      <%= s.label "Title", class: "control-label" %>
      <div class="row">
        <div class="col-xs-8">
          <%= s.text_field :title, class: "form-control", placeholder: "Enter title" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= s.label "Description" %>
      <div class="row">
        <div class="col-xs-8">
          <%= s.text_area :description, class: "form-control", placeholder: "Describe the quote", rows: 2 %>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <%= s.label "Upload Image", class: "control-label" %><br />
      <%= s.fields_for :photos do |c| %>
        <%= c.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
      <% end %>
    </div>

    <%= link_to "Cancel", admin_quotes_path, class: "btn btn-warning" if @quote.id.present? %>
    <%= s.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>
