<%= render "shared/error", object: @quote %>

<div class="col-sm-12">
  <%= form_for [:admin, @quote] do |s| %>
    <div class="form-group">
      <%= s.label "Title" %>
      <%= s.text_field :title, class: "form-control", placeholder: "Enter title" %>
    </div>
    <div class="form-group">
      <%= s.label "Description" %>
      <%= s.text_area :description, class: "form-control", placeholder: "Describe the quote", rows: 2 %>
    </div>
    
    <div class="form-group">
      <%= s.label "Upload Image" %>
      <%= s.fields_for :photos do |c| %>
        <%= c.file_field :image, accept: 'image/png,image/gif,image/jpeg', :multiple => true %>
      <% end %>
    </div>

    <%= link_to "Cancel", admin_quotes_path, class: "btn btn-warning" if @quote.id.present? %>
    <%= s.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>
