<div class="page-header">
  <h1><%= @quote.title %></h1>
  <span class="label <%= visibility_label(@quote) %>"><%= visibility_status(@quotes) %></span>
</div>

<ol class="breadcrumb">
  <li><%= link_to "Admin", admin_index_path %></li>
  <li><%= link_to "Quotes", admin_quotes_path %></li>
  <li class="active"><%= @quote.title %></li>
</ol>
<div class="panel panel-default">
  <div class="panel-body">
    <%= render "form" %>
    <p class="text-right">
      <small class="help-block"><em>
        Last updated: <%= @quote.updated_at.to_formatted_s(:long) %><br>
        Created: <%= @quote.updated_at.to_formatted_s(:long) %>
      </em></small>
    </p>
  </div>
</div>