<div class="row footer">
  <div class="col-xs-12 col-sm-2 col-sm-offset-1">
    <%= link_to root_path do %>
      <%= link_to image_tag('http://thedudeminds.de/images/thedukegirls.png', width: "250px", class: "img-responsive"), root_path %>
    <% end %><p class="text-center">©2016 Duke For Girls</p>
  </div>
  <div class="col-xs-12 col-sm-2">
    <p class="text-center">Our belief</p>
    <ul>
      <li>Lorem ipsum Esse esse aliqua ad voluptate voluptate nisi adipisicing aute qui reprehenderit occaecat fugiat velit.</li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-2">
    <p class="text-center">Duke for Girls</p>
    <ul>
      <li><%= link_to "Our Story", story_path %></li>
      <li><%= link_to "Blog", root_path %></li>
      <li><%= link_to "Join Us", root_path %></li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-2">
    <p class="text-center">Follow Us</p>     
    <p class="text-center">
      
      <!-- iterate through social network account items and display icon, if account is marked as 'visible' -->
      <% @social_network_accounts.each do |p| %>
        <% if p.visible %>
          <%= link_to p.platform_url, :target => "_blank" do %>
            <%= image_tag p.img_url, size: "32x32" %>
          <% end %>
        <% end %>
      <% end %>
    </p>
  </div>
</div>