<div class="row footer">
  <div class="col-sm-4">
    <ul>
      <p>Links</p>
      <li><%= link_to "Duke Basketball", "http://www.goduke.com/SportSelect.dbml?SPID=1845" %></li>
    </ul>
  </div>
  <div class="col-sm-4">
    <ul>
      <p>Duke for Girls</p>
      <li><%= link_to "Our Story", root_path %></li>
      <li><%= link_to "Our Blog", root_path %></li>
      <li><%= link_to "Join Us", root_path %></li>
    </ul>
  </div>
  <div class="col-sm-4">
    <ul>
      <p>Follow Us</p>
      <li><%= link_to "Facebook", root_path %></li>
      <li><%= link_to "Pinterest", root_path %></li>
    </ul>
  </div>
</div>