<div class="row footer-logo">
  <%= link_to root_path do %>
    <%= link_to image_tag(@icon, width: "150px", class: "img-responsive"), root_path %>
  <% end %>
</div>

<div class="row footer-links">
  <div class="col-xs-12 col-sm-4">
    <ul>
      <p>Our belief</p>
      <li><%= @our_belief %></li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-4">
    <ul>
      <p>The Duke Girls</p>
      <li><%= link_to "Our Story", story_path %></li>
      <li><%= link_to "Blog", blog_index_path %></li>
      <li><%= link_to "Join Us", join_us_path %></li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-4">
    <ul>
      <p>Follow Us</p>
      <li>
      <!-- iterate through social network account items and display icon, if account is marked as 'visible' -->
      <% @visible_snas.each do |p| %>
        <%= link_to url_with_protocol(p.platform_url), :target => "_blank" do %>
          <% if p.photo.present? && p.photo.image.url.present? %>
            <%= image_tag p.photo.image.thumb.url, size: "32x32" %>
          <% else %>
            <%= p.platform_name %>
          <% end %>
        <% end %>
      <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="row copy-right">
  <p class="text-center">©2016 The Duke Girls</p>
</div>
