<div class="row nav-contact pull-right">
  <ul>
    <li><%= link_to "Blog", root_path %></li>
    <li><%= link_to "contact", root_path %></li>
  </ul>
</div>
<div class="row logo-wrapper">
  <%= link_to image_tag('http://www.fromtourist2local.com/uploads/1/2/9/5/12956618/1452033429.png', width: "300px"), root_path %>
</div>
<div class="row nav-links">
  <ul>
    <li><%= link_to "Features", root_path %></li>
    <li><%= link_to "2016 selection", root_path %></li>
    <li><%= link_to "Quotes", root_path %></li>
  </ul>
</div>
