<% if admin_signed_in? %>
  <div class="row admin_link">
    <ul class="pull-right">
      <li>Hi, <%= current_admin.email %> | </li>
      <li><%= link_to "Log out", destroy_admin_session_path, :method => :delete %> | </li>
      <li><%= link_to "Dashboard", admin_index_path %></li>
    </ul>
  </div>
<% end %>


<nav class="row nav-bar">
  <div class="container-fluid">
    <div class="nav-bar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="pull-left">
      <li class="logo-wrapper">
      <%= link_to image_tag('http://thedudeminds.de/images/thedukegirls.png', width: "250px"), root_path %>
      </li>
    </ul>
    <ul class="pull-right">
      <% @showcases.each do |s| %>
        <li><%= link_to s.title, showcase_path(s), class: "navbar-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>

<nav class="row category_nav">
    <ul class="pull-left">
      <% @categories.each do |c| %>
        <li><%= link_to c.name, category_path(c) %></li>
      <% end %>
    </ul>
    <ul class="pull-right">
      <li>Search</li>
    </ul>
</nav>