<% if admin_signed_in? %>
  <div class="row admin-link">
    <ul class="pull-right">
      <li>Hi, <%= current_admin.email %> | </li>
      <li><%= link_to "Log out", destroy_admin_session_path, :method => :delete %> | </li>
      <li><%= link_to "Dashboard", admin_index_path %></li>
    </ul>
  </div>
<% end %>


<nav class="row nav-bar">
  <div class="container-fluid">
    <div class="nav-bar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="row logo-wrapper">
      <%= link_to image_tag(@icon, width: "250px"), root_path %>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <div class="row nav-link-bar">
      <ul class="visible-xs-block">
        <%= link_to root_path, class: "home-link #{ active_class(root_path) }" do %>
          <li>Home</li>
        <% end %>
        <%= link_to blog_index_path, class: "blog-link #{ active_class(blog_index_path) }" do %>
          <li>Blog</li>
        <% end %>
      </ul>
      <ul>
        <% @showcases.each do |s| %>
          <%= link_to showcase_path(s), class: active_class(showcase_path(s)) do %>
            <li><%= s.title %></li>
          <% end %>
        <% end %>
      </ul>
      <ul>
        <% @categories.each do |c| %>
          <%= link_to category_path(c), class: active_class(category_path(c)) do %>
            <li><%= c.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
