<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: @site_name, title: @title  %>
    <%= display_meta_tags description: @description %>
    <%= display_meta_tags keywords: @object_keywords %>
    <%= display_meta_tags keywords: @keywords %>
    <%= display_meta_tags icon: @favicon %>
    <%= display_meta_tags og: @og %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/alert' %>
    <div class="container">
      <%= render "layouts/nav" %>
      <%= yield %>
      <%= render "layouts/subscribe" %>
    </div>
  </body>

  <footer>
    <div class="container">
      <%= render "layouts/footer" %>
    </div>
    <%= render "layouts/google_analytics" %>
  </footer>
</html>
